<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new </title>
</head>
<body>
    <h1><%=locals.title%></h1>
    <a href="/">back</a>
    <form action="/new" method="post">
        <label for="name">
            <input type="text" name ="name" id ="name" placeholder="enter your name..." required>
        </label>
        <label for="message">
            <textarea name="text" id="message" cols="30" rows="10">Enter a message...</textarea>
        </label>
        <input type="submit" value="add message">
    </form>
    <% if(locals.showModal){%>
        <p>display the modal add a name</p>
    <%}%>
</body>
</html>